<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ba7b69">  <td>20/01/03 11:05:44</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Login.applistaBrowserLanuched()[pri:0, instance:com.applista.qa.testcases.login.Login@2c039ac6]">&gt;&gt;applistaBrowserLanuched</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-1@1836085812</td>   <td></td> </tr>
<tr bgcolor="ba7b69">  <td>20/01/03 11:05:49</td>   <td>4710</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Login.applistaBrowserLanuched()[pri:0, instance:com.applista.qa.testcases.login.Login@2c039ac6]">&gt;&gt;applistaBrowserLanuched</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-1@1836085812</td>   <td></td> </tr>
<tr bgcolor="81ad78">  <td>20/01/03 11:05:29</td>   <td>-15042</td> <td>&nbsp;</td><td title="&gt;&gt;Setup_DockerGrid.startDockerGrid()[pri:0, instance:com.applista.qa.helpers.Setup_DockerGrid@9a7504c]">&gt;&gt;startDockerGrid</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2050019814</td>   <td></td> </tr>
<tr bgcolor="81ad78">  <td>20/01/03 11:05:49</td>   <td>4716</td> <td>&nbsp;</td><td title="&lt;&lt;Setup_DockerGrid.stopDockerGrid()[pri:0, instance:com.applista.qa.helpers.Setup_DockerGrid@9a7504c]">&lt;&lt;stopDockerGrid</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2050019814</td>   <td></td> </tr>
<tr bgcolor="ba7b69">  <td>20/01/03 11:05:49</td>   <td>4708</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Login.teardownbrowser()[pri:0, instance:com.applista.qa.testcases.login.Login@2c039ac6]">&lt;&lt;teardownbrowser</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="ba7b69">  <td>20/01/03 11:05:49</td>   <td>4714</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Login.teardownbrowser()[pri:0, instance:com.applista.qa.testcases.login.Login@2c039ac6]">&lt;&lt;teardownbrowser</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="ba7b69">  <td>20/01/03 11:05:49</td>   <td>4694</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.verifyLoginHomePage()[pri:0, instance:com.applista.qa.testcases.login.Login@2c039ac6]">verifyLoginHomePage</td> 
  <td>TestNG-test=Test-1@1836085812</td>   <td></td> </tr>
<tr bgcolor="ba7b69">  <td>20/01/03 11:05:49</td>   <td>4711</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.verifyLoginHomePageTitle()[pri:2, instance:com.applista.qa.testcases.login.Login@2c039ac6]">verifyLoginHomePageTitle</td> 
  <td>TestNG-test=Test-1@1836085812</td>   <td></td> </tr>
</table>
